*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray; 
    width: 100vw;  
}
.border, .brandContainer, .menuContainer, .contactInfo, .addSection{
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    box-sizing: border-box;
    width: auto;

    .brandContainer{
        width: 50%;
        text-align: center;
        padding-top: 1rem;
    }
    .menuContainer{
        width: 50%;
        text-align: center;
        padding-top: 1rem;
    }
}

.mapView{
    display: flex;
    justify-content: center;
    width:  95%;
    margin-left: 0.4rem;
    height: auto;
    border: 1px solid black;
    overflow: hidden;
}

footer{
    display: flex;
    box-sizing: border-box;
    width: auto;

    .contactInfo{
        width: 50%;
        text-align: center;
        padding-top: 1rem;
    }
    .addSection{
        width: 50%;
        text-align: center;
        padding-top: 1.5rem;
    }
}