* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: gray;
    width: 100vw;
}

.border,
.brandContainer,
.menuContainer,
input,
textarea,
.field {
    border: 3px solid rgb(23, 22, 22);
    border-radius: 5%;
}

input,
textarea {
    border: 2px solid rgb(23, 22, 22);
    border-radius: 5%;
}

textarea {
    margin-bottom: 0.5rem;
}

li {
    height: 2.3rem;
    border-bottom: 2px solid rgb(23, 22, 22);
    border-radius: 5%;
    box-shadow: 3px 1px;
    padding-top: 0.5rem;
    text-align: center;
    justify-self: center;
    white-space: normal;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}


header {
    display: flex;
    justify-content: center;
    width: auto;

    .brandContainer,
    .menuContainer {
        border: 3px solid black;
        width: 40%;
        height: 2.5rem;
        padding-top: 0.5rem;
        text-align: center;
        margin: 0.5rem;
    }
}

.contactWelcome {
    text-align: center;
}

.mapView {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-left: 0.4rem;
    height: auto;
    border: 3px solid black;
    border-radius: 5%;
    overflow: hidden;
}
.alertS{
    color: yellow;
    text-align: center;
    margin-bottom: 0.5rem;
    .alert{
        width: 85%;
        border: 1.6px solid yellow;
        background-color: rgb(32, 33, 33);
        border-radius: 5%;
        margin-left: 1.4rem;
    }
}
.contactInfoContainer {
    display: flex;
    justify-content: center;

    .contactInfo {
        text-align: center;
        width: 50%;
        margin-right: 0.5rem;
        
        .profilePicture {
            width: 60px;
            height: 60px;
            margin-left: 2.5rem;
            border: 2px solid black;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 0.5rem;
        }
    }

    .contactForm {
        text-align: center;
        width: 45%;
        overflow: hidden;
        margin-top: 4.2rem;
    }
}

#name {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    justify-content: center;
    text-align: center;
    // text-shadow: 2px 2px #1f1308e7;


}

.field {
    border: solid rgb(47, 43, 23);
    box-shadow: 0.3rem 0.3rem black;
    background: rgb(98, 97, 103);
    background: rgb(57, 56, 61);
    background: rgb(17,16,18);
background: linear-gradient(5deg, rgba(17,16,18,1) 0%, rgba(23,23,24,0.7483368347338936) 51%, rgba(0,0,0,1) 73%, rgba(22,23,23,1) 100%);
    color: antiquewhite;
    width: 95%;
    height: 600px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 1rem;

    .frame {

        display: flex;
        justify-content: center;

        .frontEnd {
            margin-right: 0.5rem;
            margin-top: 0.5rem;

            .left {
                background-color: rgb(34, 33, 33);
                border: 1px solid gray;
                box-shadow: -1.5px -1.5px 1.5px 1.5px rgba(177, 164, 164, 0.508);
                margin-left: 2.5rem;
                border-radius: 33%;
                width: 3.9rem;
                height: 0.5rem;
            }

        }

        .backEnd {
            margin-left: 0.5rem;
            margin-top: 0.5rem;

            .right {
                background-color: rgba(255, 0, 0, 0.636);
                border: 1px solid gray;
                box-shadow: -1px -1px 1px 1px rgba(177, 164, 164, 0.508);
                border-radius: 50%;
                width: 0.5rem;
                height: 0.5rem;
                margin-left: 1rem;
            }
        }
    }

    .frameOne {
        background: rgb(2, 0, 36);
        background: rgb(17,16,18);
background: linear-gradient(211deg, rgba(17,16,18,1) 0%, rgba(68,68,193,0.7483368347338936) 51%, rgba(95,95,199,1) 73%, rgba(22,23,23,1) 100%);
        color: wheat;
        border: 2px solid rgba(186, 184, 176, 0.611);
        border-radius: 5%;
        width: 95%;
        height: 85%;
        margin-top: 1rem;
        margin-left: 0.5rem;

        .dbContent {
            overflow: hidden;
            text-align: center;
            margin-top: 0.5rem;
            
        }
       
    }

    .menuBar {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;

        .reverse,
        .upButton,
        .forward {
            width: 3rem;
            text-align: center;
            border: 1px solid gray;
            border-radius: 18%;
            box-shadow: -1px -1px 1px 1px rgba(177, 164, 164, 0.508);
            a{
                color: white;
            }
        }
    }


}


footer {
    display: flex;
    box-sizing: border-box;
    width: auto;

    .copyRight {
        width: 50%;
        height: 3rem;
        text-align: center;
        padding-top: 0.8rem;
    }

    .socialMedia {
        display: flex;
        width: 50%;
        height: 4rem;
        text-align: center;
        justify-content: center;

        .gitHub {
            width: 60px;
            padding-top: 0.2rem;
        }

        .linkedIn {
            width: 60px;
            padding-top: 0.2rem;
        }
    }
}
