* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  width: 100vw;
}

.border, .brandContainer, .menuContainer, .copyRight, .addSection {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  box-sizing: border-box;
  width: auto;
}
header .brandContainer {
  width: 50%;
  text-align: center;
  padding-top: 1rem;
}
header .menuContainer {
  width: 50%;
  text-align: center;
  padding-top: 1rem;
}

.contactWelcome {
  text-align: center;
}

.mapView {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-left: 0.4rem;
  height: auto;
  border: 1px solid black;
  overflow: hidden;
}

.contactInfoContainer {
  display: flex;
  justify-content: center;
}
.contactInfoContainer .contactInfo {
  text-align: center;
  width: 45%;
  margin-right: 0.5rem;
}
.contactInfoContainer .contactInfo .profilePicture {
  width: 60px;
  height: 60px;
  margin-left: 2.5rem;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}
.contactInfoContainer .contactForm {
  text-align: center;
  width: 45%;
  overflow: hidden;
}

footer {
  display: flex;
  box-sizing: border-box;
  width: auto;
}
footer .copyRight {
  width: 50%;
  height: 2rem;
  text-align: center;
  padding-top: 1rem;
}
footer .addSection {
  width: 50%;
  height: 2rem;
  text-align: center;
  padding-top: 1rem;
}
